@import "../Variables/Variables.scss";





  
  
  
  .price-container {
    
    margin-top: 10px;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;

    h3 {
      margin: 0;
      display: inline;
    }
  }
  .ingredients {
    h2 {
      margin: 0;
      font-family: Arial;
    }
    p {
      color: $primaryColor;
      font-family:Arial;
      font-size: 1rem;
      margin: 0;
    }
  }

.m-main-content {
  
  background-color: $secondarybg;
  
  padding: 20px;
  .chef-details {
    flex: 30%;
    font-family: Arial;
    
    .chef-image {
      height: 30vh;
    }

    img {
      display: block;

      height: 100%;
      margin: auto;
    }
    h2 {
      margin: 20px 0 0 0;
      color: $brownBtnColor;
    }
    p {
      color: $primaryColor;
      font-size: 1rem;
      margin: 0;
    }
    h3 {
      margin: 10px 0 0 0;
      color: $brownBtnColor;
    }
    
  }
  .map-btn {
    position: relative;
    flex: 70%;
    iframe {
      width: 100%;
    }
    .map-details {
      display: flex;

      justify-content: space-between;
      h5 {
        margin: 0;
        display: inline;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #555555;
      }
    }
    .order-btn{
      position: absolute;
    }
  }
}
.order-btn {
  
  margin-top: 10px;
  float: right;
  bottom: 10px;
  right: 10px;
}



.display-block{
  display:block;
  
}
.display-none{
  display: none;
}